doctype html

html
  head
    meta(charset='UTF-8')
    title ytabs Popup
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css')
    style.
      body { width: 200px; }

  body
    #root
    script(src=env == 'prod' ? '/js/popup.bundle.js' : 'http://localhost:3000/js/popup.bundle.js')
